<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="format-configuration" type="ProjectBase.Utils.Components.Format, ProjectBase.Utils" />
    <section name="validation-expression-configuration" type="ProjectBase.Utils.Components.ValidationExpression, ProjectBase.Utils" />
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.WebContextHandler, Spring.Web"/>
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core"/>
    </sectionGroup>
  </configSections>
  <format-configuration DATE="dd/MM/yyyy" DATE_TIME="dd/MM/yyyy hh:mm:ss" DATE_SHORT="d/M/yyyy" TIME="hh:mm:ss"
      THDATE="d MMMM yyyy" THDATE_SHORT="d/M/yy" THDATE_TIME="dd/MM/yyyy HH:mm:ss" THTIME="HH:mm:ss" />
  <validation-expression-configuration TIME="^((([0]?[1-9]|1[0-2])(:|\.)[0-5][0-9]((:|\.)[0-5][0-9])?( )?(AM|am|aM|Am|PM|pm|pM|Pm))|(([0]?[0-9]|1[0-9]|2[0-3])(:|\.)[0-5][0-9]((:|\.)[0-5][0-9])?))$"
      DATE_TIME="^(?=\d)(?:(?:31(?!.(?:0?[2469]|11))|(?:30|29)(?!.0?2)|29(?=.0?2.(?:(?:(?:1[6-9]|[2-9]\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00)))(?:\x20|$))|(?:2[0-8]|1\d|0?[1-9]))([-./])(?:1[012]|0?[1-9])\1(?:1[6-9]|[2-9]\d)?\d\d(?:(?=\x20\d)\x20|$))?(((0?[1-9]|1[012])(:[0-5]\d){0,2}(\x20[AP]M))|([01]\d|2[0-3])(:[0-5]\d){1,2})?"
      EMAIL_ADDRESS="\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*" MOBILEPHONE_NUMBER="\d{10}" TELEPHONE_NUMBER="\d{9}" MONEY="^\$?[0-9]+(,[0-9]{3})*(\.[0-9]{2}|.[0-9]{1})?$" INTEGER_NUMBER="^\$?[0-9]+(,[0-9]{3})*?$" DECIMAL_NUMBER="^[0-9]*[.]{0,1}[0-9]{0,8}$" CITIZEN_NUMBER="\d{13}" PASSPORT_NUMBER="\d{13}" POSTCODE="\d{5}" THAI_ALPHABET="^[ก-๙0-9]+$"
      ENGLISH_ALPHABET="^[a-zA-Z0-9]+$" PASSWORD="^[a-zA-Z0-9]{6,20}$" PIN="\d{4}" POSITIVE_INTEGER="^\d+$" WEBSITE_URL="http(s)?://([\\w-]+\\.)+[\\w-]+(/[\\w- ./?%&amp;=]*)?"/>
  <spring>
    <context type="Spring.Context.Support.WebApplicationContext, Spring.Web">
      <resource uri="config://spring/objects"/>
    </context>
    <objects xmlns="http://www.springframework.net">
      <object id="DaoFactory" type="ProjectBase.Data.DaoFactory, ProjectBase.Data"/>
      <object id="EntityFactory" type="ProjectBase.Data.EntityFactory, ProjectBase.Data"/>
      <object id="ComponentFactory" type="ProjectBase.Utils.ComponentFactory, ProjectBase.Utils"/>
    </objects>
  </spring>
  <system.web>
  <globalization enableClientBasedCulture="true" fileEncoding="utf-8" requestEncoding="utf-8" 
                 responseEncoding="utf-8" culture="th-TH" uiCulture="th-TH"/>
  </system.web>
  <appSettings>
    <add key="PageSize" value="20"/>
    <add key="EmailFrom" value="csrdiw57@gmail.com"/>
    <add key="EmailTo" value="boonkert@uaeconsultant.com"/>
    <add key="EmailUser" value="csrdiw57@gmail.com"/>
    <add key="EmailPassword" value="Uae12345"/>
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp from="csrdiw57@gmail.com">
        <network host="smtp.gmail.com" port="587" password="Uae12345" userName="csrdiw57@gmail.com" defaultCredentials="false" enableSsl="true"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>