<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  <sectionGroup name="spring">
    <section name="context" type="Spring.Context.Support.WebContextHandler, Spring.Web"/>
    <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core"/>
  </sectionGroup>
  </configSections>
  <spring>
    <context type="Spring.Context.Support.WebApplicationContext, Spring.Web">
      <resource uri="config://spring/objects"/>
    </context>
    <objects xmlns="http://www.springframework.net">
      <object id="DaoFactory" type="ProjectBase.Data.DaoFactory, ProjectBase.Data"/>
      <object id="EntityFactory" type="ProjectBase.Data.EntityFactory, ProjectBase.Data"/>
      <object id="ComponentFactory" type="ProjectBase.Utils.ComponentFactory, ProjectBase.Utils"/>
    </objects>
  </spring>
</configuration>